@font-face {
  font-family: "dice";
  src: url(../fonts/Dice.ttf);
}

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#sub-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#gameboard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scoreboard{
  width: auto;
  border: 1px solid black;
  
}
#play-area {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: "dice";
  font-size: 36px;
}

#play-area button {
  margin: 10px 0;
}

#table-dice {
  display: flex;
  flex-direction: row;
  color: white;
}

.table-die {
  display: flex;
  flex-direction: column;
}

#restart-btn {

}

/* .lock-btn {
  color: black;
} */

.locked {
  color: red;
  after: 
}

button.true {
  color: red;
}

td.p1, td.p2 {
  font-family: "dice";
  font-size: 36px;
}
