@font-face {
  font-family: "dice";
  src: url(../fonts/Dice.ttf);
}

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(45, 45, 45);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: aliceblue;
  justify-content: space-around;
  margin-top: 20px;
}

#modal{
  opacity: 1;
  visibility: visible;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 45, 45);
  color: aliceblue;
  align-items: center;
}

#modal-logo{
  width: 50%;
  margin-bottom: -50px;
}

#queens-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.queen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queen button {
  
}

.queen img {
  width: 150px;
}

.player, .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

#title-image{
  margin-bottom: -50px;
}

#gameboard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.scoreboard{
  width: auto;
  
}

#play-area {
  display: flex;
  flex-direction: column;
  font-family: "dice";
  font-size: 48px;
  align-items: center;
}

#play-area button {
  margin: 10px 0;
}

#table-dice {
  display: flex;
  flex-direction: row;
  color: white;
}

#table-dice div {
  margin-left: 5px;
  margin-right: 5px;
}

.table-die {
  display: flex;
  flex-direction: column;
  /* padding-left: 5px;
  padding-right: 5px; */
}

#restart-btn {

}

.lock-btn {
  padding: 3px;
}

.locked, .true{
  background-color: #ffb3e1;
  font-weight: bold;
  after: 
}

th, td {
  font-size: 14px;
}

td.p1, td.p2 {
  font-family: "dice";
  font-size: 36px;
}

button {
  font-size: 16px;
  border-radius: 10px;
  background-color: aliceblue;
}

button.p1, button.p2 {
  width: 100%;
}

button.p1:hover, button.p2:hover {
  width: 100%;
  background-color: #ffb3e1;
  font-weight: bold;
}

button#roll-btn, button#end-turn-btn, button#restart-btn{
  width: 30%;
  padding-top: 3px;
  padding-bottom: 3px;
}
